.main-header{
  background-color: transparent;
    font-size: 13px;
    font-weight:normal;
    padding-bottom: 20px;
  }

  .header-container{
    border-bottom: 1px solid white;
    display: flex;
    align-content: center;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .nav-container{
    margin-left: auto;
    margin-top: 60px;
    /* border: 3px solid yellow; */
    align-content: center;
    display: flex;
    margin-bottom: 30px;
  }
  
  .nav-container ul{
    margin-top: 20px;
    justify-content: flex-end;
    /* border: 3px solid rgb(0, 255, 13); */
  }
  
  .nav-container li{
    display: inline;
  }
  
  .nav-container a{
    padding: .5em;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    /* border: 3px solid rgb(0, 81, 255); */
  }
  
  .nav-container a:hover{
    text-decoration: underline;
  }
  
  .nav-logo{
    /* border: 3px solid rgb(255, 98, 0); */
    margin-top: 70px;
  }