
.homepage-container {
    background-image: url('https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg');
    background-size: cover; /* Adjust to cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating */
    /* Add any additional styles you need for the container */
    min-height: 100vh; /* Set the minimum height to fill the viewport */
    background-color: rgba(0,0,0,.3);
    background-blend-mode: multiply;
  }

  .invent-cover{
    background-image: url("https://res.cloudinary.com/dyl3rncv3/image/upload/v1679982347/elewa-group-website/hero-Images/dark-to-light_xrat5g.jpg");
  }

  .aboutus-cover{
    background-image: url("https://res.cloudinary.com/dyl3rncv3/image/upload/v1679650530/elewa-team_digqu3.jpg");
  }

  .homepage-content{
    /* border: solid 3px pink; */
    color: white;
    display: flex;
    /* height: 200px; */
  }

  .homepage-text{
    /* border: solid 3px rgb(219, 19, 52); */
    margin-top: 120px;
    margin-right: 10px;
    margin-left: 70px;
  }

  .subtitle{
    font-size: 16px;
    font-weight: normal;
    margin-top: 30px;
    margin-right: 50px;
  }

  .homepage-tittle{
    font-size: 47px;
    font-weight: normal;
    margin-top: 10px;

  }