*{
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  /* <img _ngcontent-ybq-c143="" alt="top banner hero image" class="backgroundImage" src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg"></img> */
}

html,body{
  margin: 0;
  padding: 0;
}


